<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplied">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="تطبيقيتي"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplied">
        <activity android:name=".Pro_Massage"></activity>
        <activity android:name=".Group_chat" />
        <activity android:name=".acceptance_of_accounts" />
        <activity android:name=".Waiting_for_acceptance" />
        <activity android:name=".Account_completion" />
        <activity android:name=".Homepage" />
        <activity android:name=".Login" />
        <activity android:name=".SingUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>